<ion-header>
  <ion-toolbar>
    <ion-title>
      CesiApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Connexion</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-input [(ngModel)]="username" placeholder="Login" autofocus required></ion-input>
        <ion-input [(ngModel)]="password" placeholder="Mot de passe" required type="password"></ion-input>
        <ion-button outline (click)="login();">Signin</ion-button>
        <ion-button [routerLink]="['/signup']" outline>Signup</ion-button>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>